<div class="container">
    <div class="row">
        <div class="col-6 offset-2">
            <h1>Add New Course</h1>
            <form [formGroup]="courseForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" formControlName="name" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Duration</label>
                  <input type="text" class="form-control" name="duration" formControlName="duration" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <textarea type="text" class="form-control" name="description" formControlName="description" required></textarea>
                </div>
                <button id="submit" class="btn btn-primary" [disabled]="!courseForm.valid">Add</button>
                <a id="cancel" class="btn btn-warning" style="margin-left: 2px;" routerLink="/">Cancel</a>
              </form>
              
        </div>
    </div>
</div>
