<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">INF 354 Assignment 3</a>
   
      <div class="collapse navbar-collapse" id="navbarNav">
   
   
      </div> 
    </div>
  </nav>

<router-outlet></router-outlet> -->
<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="#">INF 354 Assignment 3</a>
  </div>
</nav>

<!-- Side Navbar -->
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="/product-listing" class="list-group-item list-group-item-action bg-light">Product Listing</a>
      <a routerLink="/add-product" class="list-group-item list-group-item-action bg-light">Add Product</a>
      <a routerLink="/reporting" class="list-group-item list-group-item-action bg-light">Generate Report</a>
      <a routerLink="/login" class="list-group-item list-group-item-action bg-light">Logout</a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>